<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mystyle" href="#">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/products']"
          routerLinkActive="router-link-active"
          >Products</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/marks']"
          routerLinkActive="router-link-active"
          >Marks</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/users']"
          routerLinkActive="router-link-active"
          >Users</a
        >
      </li>

      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/article']"
          routerLinkActive="router-link-active"
          >Article Form</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          href="javascript:void(0)"
          [routerLink]="['/lazy']"
          routerLinkActive="router-link-active"
          >Lazy</a
        >
      </li>
    </ul>
  </div>
</nav>
