<input type="text" [(ngModel)]="filter" />
<table class="table table-danger">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | dataFilter: filter">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button [routerLink]="['/user', user.id]">View</button>
      </td>
    </tr>
  </tbody>
</table>
<button [routerLink]="['/lazy/two']" routerLinkActive="router-link-active">
  Load lazy two
</button>
<button (click)="postData()">POST test</button>
<a
  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
  download="true"
  >Image</a
>
