<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">Students of {{ name }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-primary table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Marks</th>
            <th>Grade (From Directive)</th>
            <th>Grade (From Child Component)</th>
            <th>Grade (From Easiest way)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.marks }}</td>
            <td appGrade>
              {{ student.marks }}
            </td>
            <td>
              <app-grade [grade]="student.marks | grade"></app-grade>
            </td>
            <td
              [ngStyle]="{
                backgroundColor:
                  student.marks > 80
                    ? 'green'
                    : student.marks < 80 && student.marks > 60
                    ? 'orange'
                    : 'red'
              }"
            >
              {{
                student.marks > 80
                  ? "A"
                  : student.marks < 80 && student.marks > 60
                  ? "B"
                  : "C"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
