<div [@popOverState]="stateName">
  <h3>This is heading</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo neque
    autem nobis laboriosam eos praesentium consequuntur totam, fuga deserunt
    quaerat cum iste optio fugiat recusandae quibusdam ipsa ad dolore. Placeat.
  </p>
</div>
<button (click)="toggle()">Toggle</button>
