.product {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.product img {
  width: 150px;
  height: 250px;
}
.product p {
  font-weight: bold;
  text-align: center;
}
.price::before {
  /* content: "\20B9"; */
}
