<div class="container" [ngStyle]="{ background: container_background }">
  <div class="row">
    <div class="col-12">
      <input
        type="text"
        [(ngModel)]="container_background"
        placeholder="Enter a color for background"
      />
      <select name="" id="" [(ngModel)]="cols">
        <option value="3">3 Columns</option>
        <option value="4">4 Columns</option>
        <option value="2">2 Columns</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div
      class=" product"
      *ngFor="let product of data.products"
      [ngClass]="{
        'col-4 text-danger': cols == 3,
        'col-3 text-success': cols == 4,
        'col-6 text-primary': cols == 2
      }"
    >
      <div [ngStyle]="{ color: product.isNew ? 'blue' : '', padding: '0px' }">
        <img src="{{ product.img }}" alt="" />
        <app-product-title [title]="product.title"></app-product-title>
        <p class="desc" appDescHighlight>
          {{ product.description }}
        </p>
        <p class="price h6" style="text-decoration: line-through;">
          {{ product.price | currency: "INR" }}
        </p>
        <p class="price h5">
          {{ product.price | discount: product.discount | currency: "INR" }}
        </p>
        <div class="text-center">
          <button class="btn btn-success btn-sm">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Today's Customemrs</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of data.users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<select name="" id="">
  <option value="" *ngFor="let country of data.countries">{{ country }}</option>
</select>
<div *ngFor="let country of data.countries">
  <input type="text" [value]="country" />
</div>
