<div class="col-4">
  <h3 class="text-center">Add Article</h3>
  <form [formGroup]="articleForm" (ngSubmit)="submitHandler()">
    <input type="text" formControlName="title" placeholder="title" /><br />
    <div
      *ngIf="f['title'].touched && f['title'].errors?.required"
      class="text-danger"
    >
      This is required
    </div>
    <div
      *ngIf="f['title'].touched && f['title'].errors?.minlength"
      class="text-danger"
    >
      Min length should be 5
    </div>
    <input type="text" formControlName="user" placeholder="user" /><br />
    <input type="text" formControlName="email" placeholder="email" /><br />
    <input type="text" formControlName="article" placeholder="article" /><br />
    <button
      class="btn btn-danger"
      [disabled]="
        f['title'].errors ||
        f['user'].errors ||
        f['email'].errors ||
        f['article'].errors
      "
    >
      Submit
    </button>
  </form>
</div>
