<p>The use id is {{ id }}</p>
<!-- {{ user | json }} -->
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <td>Username:</td>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{ user.email }}</td>
  </tr>
</table>

<div class="col-4">
  <h3 class="text-center">Edit User</h3>
  <div *ngIf="isError" class="alert alert-danger">
    {{ errMsg }}
  </div>

  <form #form="ngForm" (submit)="submitData(form.value)">
    <input type="text" name="name" class="form-control" [(ngModel)]="name" />
    <br />
    <input
      type="text"
      name="username"
      class="form-control"
      [(ngModel)]="username"
    />
    <br />
    <input type="text" name="email" class="form-control" [(ngModel)]="email" />
    <input type="submit" />
  </form>
</div>
