<div *ngIf="ngifdemo">
  <p class="mystyle">{{ name }}</p>
  <input type="text" [value]="name" id="name" />
  <!-- <input type="text" value="{{ name }}" /> -->
  <input type="text" [(ngModel)]="name" />
  <button (click)="changeText()">Click me</button>
  <h1 class="text-center">
    {{ name }}
  </h1>
  <div class="card" *ngIf="showDescription">
    <h3>This is an adult</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis vel
      cum eius beatae, vitae at dolor reiciendis fuga nihil quia tempore impedit
      nesciunt eos sed fugit sequi magni tempora natus? Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Ducimus possimus nemo amet perferendis
      maiores. Expedita at error reiciendis, nesciunt facilis quam quibusdam non
      architecto eveniet saepe voluptas quae impedit pariatur.
    </p>
  </div>
  <button (click)="clickHandler()">Toggle Description</button>
</div>
